body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
}

.monkes {
    display: flex;
    justify-content: center;
    max-height: 100%;
}

figure {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

figcaption {
    text-align: center;
    font-size: 26px;
}

img {
    max-width: 100%;
    cursor: pointer;
    max-height: 100%;
    display: block;

}

.popup {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 40px;
    cursor: pointer;
    overflow: hidden;
}

.hidden {
    display: none;
}